<h2>Welcome to Reddit!</h2>
<br>
<a href="<%= new_sub_url %>">Create New Sub</a>
<br><br>
<% @subs.each do |sub| %>
  <% if current_user == sub.moderator %>
    <form action="<%= edit_sub_url(sub) %>" method="GET">
      <input type="submit" value="Edit Sub">
    </form>
  <% end %>
  <a href="<%= sub_url(sub) %>">r/<%= sub.title %></a>
  <br>
  <%= sub.description %>
  <br><br>
<% end %>